.header {
    width: 100%;
    height: 73px;
    background-color: #ffffff;
    padding: 15px, 80px, 0px, 80px;
    float: inline-start;
}

.container {
    width: 168px;
    height: min-content;
    display: flex;
    float: right;
    height: 48px;
    margin-top: 15px;
    margin-right: 30px;
    justify-content: space-between;
}

.text {
    width: 98px;
    height: 48px
}

#vetname {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

#logout {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #98A2B3;
}

#image {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    gap: 16px
}

.sidebar {
    position: absolute;
    width: 260px;
    height: 100%;
    padding: 16px, 0px, 1763px, 16px;
    background-color: #18385C;
}

.menu {
    width: 244px;
    height: 181px;
    margin-top: 30px;
    margin-left: 16px;
    gap: 8px;
}

.innerhtml{
    margin-top: 15px;
    margin-left: 10px;
}

.menu-items {
    width: 232px;
    height: 55px;
    padding: 6px;
    border-radius: 10px, 0px, 0px, 10px;
    gap: 16px;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menu-text{
font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #ffffff;
padding-left: 16px;
}



