<div class="dashboard">
    <div class="overview">
        <div class="total card">
            <div class="heading">
                <img src="../../assets/images/Total.svg" alt="">
                <a class="text">Total</a>
            </div>
            <div class="count">
                {{Total}}
            </div>
        </div>
        <div class="total card">
            <div class="heading">
                <img src="../../assets/images/Total.svg" alt="">
                <a class="text">Total</a>
            </div>
            <div class="count">
                {{Total}}
            </div>
        </div>
        <div class="total card">
            <div class="heading">
                <img src="../../assets/images/Total.svg" alt="">
                <a class="text">Total</a>
            </div>
            <div class="count">
                {{Total}}
            </div>
        </div>
        <div class="total card">
            <div class="heading">
                <img src="../../assets/images/Total.svg" alt="">
                <a class="text">Total</a>
            </div>
            <div class="count">
                {{Total}}
            </div>
        </div>
    </div>
</div>



<!--  2256 x 1504 (201 PPI) -->